<a href="https://colab.research.google.com/github/lumagri/Python_to_Data_Science/blob/main/4_Python%20Pandas_Tratando%20e%20analisando%20dados/Sele%C3%A7%C3%B5es_e_Frequ%C3%AAncia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Relatório de Análises IV

##Tarefas 

* Selecionar os imóveis classificados como tipo "Apartamento"
* Selecionar os imóveis classificados com tipo "Casa", "Casa de Condomínio", "Casa de Vila".
* Selecionar imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
* Selecionar os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$2.000,00

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')

In [3]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [4]:
dados.shape[0] # Apresenta o número de linhas.

22580

In [5]:
dados.shape # Apresenta o número de linhas e colunas.

(22580, 9)

In [8]:
# Nº de imóveis classificados como tipo "Apartamento"
selecao = dados['Tipo'] == 'Apartamento'
selecao
n1 = dados[selecao].shape[0]
n1

19532

In [13]:
# Selecionar os imóveis classificados com tipo "Casa", "Casa de Condomínio", "Casa de Vila".
selecao = (dados['Tipo'] == 'Casa') |(dados['Tipo'] == 'Casa de Condomínio') |(dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0] # Se retirar o shape aqui ele mostra a tabela com os elementos. Mas queremos saber a quantidade desses tipos de imóveis por isso colocamos o shape. 
n2

2212

In [14]:
# Selecionar imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
#60 <= Area <= 100 

selecao = (dados['Area']>=60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [15]:
# Selecionar os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$2.000,00
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [18]:
print("Nº de imóveis classificados como tipo 'Apartamento' => {}".format(n1))
print("Nº deimóveis classificados com tipo 'Casa', 'Casa de Condomínio', 'Casa de Vila'. => {}".format(n2))
print("Nº deimóveis com área entre 60 e 100 metros quadrados, incluindo os limites. => {}".format(n3))
print("Nº deimóveis que tenham pelo menos 4 quartos e aluguel menor que R$2.000,00 => {}".format(n4))

Nº de imóveis classificados como tipo 'Apartamento' => 19532
Nº deimóveis classificados com tipo 'Casa', 'Casa de Condomínio', 'Casa de Vila'. => 2212
Nº deimóveis com área entre 60 e 100 metros quadrados, incluindo os limites. => 8719
Nº deimóveis que tenham pelo menos 4 quartos e aluguel menor que R$2.000,00 => 41

## Exercício Alura

In [19]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [23]:
#Crie um DataFrame somente com os alunos aprovados.
selecao = alunos['Aprovado'] == True
aprovados = alunos[selecao]
aprovados

    Nome  Idade Sexo  Notas  Aprovado
0    Ary     15    M    7.5      True
3   Beto     32    M   10.0      True
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

In [22]:
#Crie um DataFrame somente com as alunas aprovadas.
selecao = (alunos['Aprovado'] == True) & (alunos['Sexo'] == 'F')
Alunas_Aprovadas = alunos[selecao]
Alunas_Aprovadas

    Nome  Idade Sexo  Notas  Aprovado
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

In [27]:
#Crie apenas uma visualização dos alunos com idade entre 10 e 20 anos ou com idade maior ou igual a 40 anos.
selecao = (alunos['Idade']>10) & (alunos['Idade']< 20) | (alunos['Idade'] >40)
alunos_idade = alunos[selecao]
alunos_idade

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
2   Denis     56    M    5.0     False
4   Bruna     42    F    8.2      True
6  Carlos     19    M    6.0     False

In [26]:
selecao = ((alunos.Idade > 10) & (alunos.Idade < 20)) | (alunos.Idade >= 40)
alunos[selecao]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
2   Denis     56    M    5.0     False
4   Bruna     42    F    8.2      True
6  Carlos     19    M    6.0     False

#Formas de Seleção

In [29]:
'l1, l2, l3, l4'. split() # Já é separado os itens ( Foi adicionado as '' a cada elemento)

['l1,', 'l2,', 'l3,', 'l4']

In [28]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (9, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1, l2, l3, l4'. split(), 'c1 c2 c3 c4'.split())

In [30]:
df

     c1  c2  c3  c4
l1,   1   2   3   4
l2,   5   6   7   8
l3,   9  10  11  12
l4   13  14  15  16

In [31]:
df['c1']

l1,     1
l2,     5
l3,     9
l4     13
Name: c1, dtype: int64

In [32]:
type(df['c1'])

pandas.core.series.Series

In [34]:
df[['c1', 'c3']]

     c1  c3
l1,   1   3
l2,   5   7
l3,   9  11
l4   13  15

In [35]:
type(df[['c1', 'c3']])

pandas.core.frame.DataFrame

In [36]:
df[:] #Seleciona todo o DataFrame

     c1  c2  c3  c4
l1,   1   2   3   4
l2,   5   6   7   8
l3,   9  10  11  12
l4   13  14  15  16

In [38]:
df[:1] # Para selecionar apenas a linha 1.

     c1  c2  c3  c4
l1,   1   2   3   4

In [39]:
df[1:] # Para selecionar a partir da linha 2.

     c1  c2  c3  c4
l2,   5   6   7   8
l3,   9  10  11  12
l4   13  14  15  16

In [40]:
df[1:3] # Para selecionar apenas a linha 2 e 3.

     c1  c2  c3  c4
l2,   5   6   7   8
l3,   9  10  11  12

In [51]:
df[1:][['c3', 'c1']] # Para selecionar apartir da linha 1 apenas as colunas 1 e 3.

     c3  c1
l2,   7   5
l3,  11   9
l4   15  13

In [53]:
#Crie um DataFrame somente com os alunos reprovados e mantenha neste DataFrame apenas as colunas Nome, Sexo e Idade, nesta ordem.
selecao = alunos['Aprovado'] == False
reprovados = alunos.loc[selecao, ['Nome', 'Sexo', 'Idade']]
reprovados

     Nome Sexo  Idade
1   Cátia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

In [54]:
#Crie um DataFrame somente com os alunos reprovados e mantenha neste DataFrame apenas as colunas Nome, Sexo e Idade, nesta ordem.
selecao = alunos['Aprovado'] == False
reprovados = alunos[['Nome', 'Sexo', 'Idade']][selecao]
reprovados

     Nome Sexo  Idade
1   Cátia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

In [55]:
#Crie uma visualização com os três alunos mais novos.

alunos.sort_values(by = ['Idade'], inplace = True)
alunos.iloc[:3]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
6  Carlos     19    M    6.0     False
5    Dara     21    F    7.0      True